.homeContent{
    text-align: center;
    color: rgba(255, 255, 255, 0.797);
    
}
.topic{
    color: rgb(91, 91, 209);
}
.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .list{
    font-family: URW Chancery L, cursive;
    text-align:justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .list li{
    list-style: none;
    background-color: rgba(95, 158, 160, 0.273);
    width: 510px;
    font-size: 20px  
}
.list .checkbox{
    width:17px;
    height: 17px;
}
  .done{
    text-decoration: line-through;
    color: rgb(255, 255, 255);
  }
  .enterInput{
    padding:10px 17px;
    border: 1px solid white;
    
  }
  .enterInputTime{
    padding:7.8px;
    border: 1px solid white;
  }
  .enterInputDate{
    padding:9.14px 27px;
    border: 1px solid white;
  }
  .addBtn{
    padding:10px 17px;
    background-color: rgb(97, 157, 37);
  }
  .delete{
    margin-right: 3px;
    padding: 3px;
    float: right;
    background-color: red;
    border: 1px solid red;
  }
  .date{
    
    color:rgb(245, 151, 227);
  }
  .title{
    color: rgb(228, 221, 6);
  }
  .store{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgba(174, 145, 200, 0.039);
    margin-bottom: 200px;
  }
  .burgerTop{
    color: black;
    margin: 5px;
    width: 200px;
    height: 40px;
    border-radius: 40px 40px 0 0;
    background-color: rgb(214, 119, 4);
  }
  .burgerBotton{
    margin: 5px;
    width: 200px;
    height: 30px;
    border-radius: 0 0 30px 30px;
    background-color: rgb(224, 135, 26);
  }
  .cheese{
    width: 205px;
    height: 10px;
    background-color: rgb(166, 186, 16);
    border-radius: 10px;
  }
  .steak{
    width: 205px;
    height: 25px;
    border-radius: 10px;
    background-color: rgb(69, 21, 21);
  }
  .ketchup{
    width: 205px;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(255, 4, 4);
  }
  .kolbasa{
    width: 205px;
    height: 9px;
    background-color:rgb(235, 135, 135);
    border-radius: 10px;
  }
  .chet{
    display: flex;
    flex-direction: column;
  }
  .chet img{
    width: 40px;
    height: 40px;
  }
  .chet span{
    font-size: 20px;
    font-weight: bold;
    
  }
  .gamb{
    color: rgb(255, 5, 5);
  }
  .gamburger{
    color: gold;
    background-color: rgba(127, 255, 212, 0.049);
  }
  .zacaz{
   padding: 5px 10px ;
   border: solid rgb(255, 217, 0);
   border-radius: 20px;
   background-color: rgb(214, 214, 15);
   cursor: pointer;
   color: #000;
  }
  /* "webSite" */
  .webSite{
    display: flex;
    justify-content: space-around;
    color: #fff;
  }
  .pokemons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3em;
    text-align: center;
  }
  .pokemons li{
    margin-top: 30px;
    color: azure;
    list-style: none;
    background-color: rgba(40, 34, 61, 0.43);
  }
  .imgPokemon{
    width: 180px;
    height: 200px;
    
  }
  .right-content{
    text-align: center;
  }
  .card{
    background-color: rgba(85, 71, 71, 0.488);
  }
  .loners{
    color: yellow;
    position: fixed;
    right: 150px;
    background-color: rgba(24, 16, 53, 0.53);
  }
  .lonersImg{
    width: 250px;
  }
  .som{
    background-color: rgba(42, 67, 113, 0.51);
    border-radius: 9px;
    color: rgb(225, 0, 0);
  }
  .somwithe{
    font-size: 20px;
    color: rgb(249, 250, 251);
  }
  .buy{
    cursor: pointer;
    font-weight: bolder;
    color: beige;
    font-size: 23px;
    margin-top: 5px;
    padding: 5px 80px;
    border-radius: 10px;
    background-color: rgba(199, 23, 23, 0.899);
  }
  @media (max-width:1120px) {
    .loners{
      color: yellow;
      position: fixed;
      right: 16px;
      background-color: rgba(24, 16, 53, 0.53);
      width: 250px;
      border-radius: 12px;
    }
    .buy{
      cursor: pointer;
      font-weight: bolder;
      color: beige;
      font-size: 23px;
      margin-top: 5px;
      padding: 2px 1px;
      border-radius: 0px;
      background-color: rgba(199, 23, 23, 0.899);
    }
    .lonersImg{
      width: 245px;
    }
    .pokemons{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 20px;
      text-align: center;
      margin-left: -50px;
      font-size: 20px;
    }
    .imgPokemon{
      width: 150px;
      height: 250px;
      
    }
    .pokemons li{
      margin-top: 25px;
      color: azure;
      list-style: none;
      background-color: rgba(40, 34, 61, 0.43);
     width: 190px;      
    }
    
  }
  @media (max-width:900px) {
    .loners{
      color: yellow;
      position: fixed;
      right: 16px;
      background-color: rgba(24, 16, 53, 0.53);
      width: 180px;
      border-radius: 12px;
    }
    .buy{
      cursor: pointer;
      font-weight: bolder;
      color: beige;
      font-size: 23px;
      margin-top: 5px;
      padding: 2px 1px;
      border-radius: 10px;
      background-color: rgba(199, 23, 23, 0.899);
    }
    .lonersImg{
      width: 175px;
    }
    .pokemons{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 10px;
      text-align: center;
      margin-left: -45px;
      font-size: 20px;
    }
    .imgPokemon{
      width: 150px;
      height: 250px;
      
    }
    .pokemons li{
      margin-top: 25px;
      color: azure;
      list-style: none;
      background-color: rgba(40, 34, 61, 0.43);
     width: 175px;      
    }
    
  }
  
  @media (max-width:650px) {
    .loners{
      color: yellow;
      position: fixed;
      right: 16px;
      background-color: rgba(24, 16, 53, 0.53);
      width: 170px;
      border-radius: 12px;
      margin-top: 12em;
    }
    .buy{
      cursor: pointer;
      font-weight: bolder;
      color: beige;
      font-size: 23px;
      margin-top: 5px;
      padding: 2px 1px;
      border-radius: 0px;
      background-color: rgba(199, 23, 23, 0.899);
    }
    .lonersImg{
      width: 165px;
    }
    .pokemons{
      display: grid;
      grid-template-columns: auto;
      gap: 0em;
      text-align: center;
      margin-left: -40px;
      font-size: 18px;
    }
    .imgPokemon{
      width: 100px;
      height: 150px;
      
    }
    .pokemons li{
      margin-top: 20px;
      color: azure;
      list-style: none;
      background-color: rgba(40, 34, 61, 0.43);
     width: 185px;      
    }
    
  }
