body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(76, 45, 12, 0.638)  url('https://funart.pro/uploads/posts/2021-12/1640256783_3-funart-pro-p-foni-dlya-saitov-3.jpg')     ;
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
}
.toy{
  margin-top: 10px;
  color: yellow;
  padding: 5px 10px;
  background-color: rgba(50, 18, 229, 0.622);
}
